body {
  font-family: Arial, sans-serif;
  text-align: center;
background-color:rgba(214, 24, 214, 0.366);
background-image: url(https://store-images.s-microsoft.com/image/apps.8674.13721250509265961.9b4c8cd8-a870-4fd9-bb05-37b0120eb495.1f9557f6-1e88-4772-89df-84957fa23773?mode=scale&q=90&h=1080&w=1920);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;

}
.titulo{
  margin-top:0;
}
  h1 {
    text-align: center;
    color:(#fffffff3);
  
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 3px solid #1fd8e6;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 1px solid black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }
 
 